.btn {
  padding: $padding-small $padding-default;
  border: none;
  border-radius: $border-default;
  margin: $margin-small;
  cursor: pointer;
  text-decoration: none;
  color: black;
  transition: all 0.3s ease;

  &-edit {
    background-color: $color-warning;
    color: white;
  }

  &-delete {
    background-color: $color-danger;
    color: white;
  }

  &-success {
    background-color: $color-success;
    color: white;
  }

  &-active {
    background-color: $color-primary;
    color: white;

    > a {
      color: white;
    }
  }

  &:disabled{
    opacity: 0.6;
  }
}
