.btn {
  padding: $padding-small $padding-default;
  border: none;
  border-radius: $border-default;
  margin: $margin-small;
  cursor: pointer;
  text-decoration: none;
  color: black;

  &-edit {
    background-color: $color-warning;
    color: white;
  }

  &-delete {
    background-color: $color-danger;
    color: white;
  }

  &-active {
    background-color: $color-primary;
    color: white;
    transition: all 0.5s ease;
    
    > a {
      color: white;
    }
  }
}
