.home {
  @include main;

  border-top: 1px solid $color-secondary;
  border-bottom: 1px solid $color-secondary;
  display: flex;

  .col-left {
    @include component-padding;
    width: 30%;
    border-right: 1px solid $color-secondary;
  }

  .col-right {
    @include component-padding;
    width: 70%;
    background-color: red;
  }

  &__search {
    width: 100%;
    height: 40px;
    background-color: transparent;
    margin-bottom: $margin-large;

    input {
      width: 100%;
      height: 100%;
      background-color: rgba(160, 193, 255, 0.5);
      border-radius: $border-large;
      margin-bottom: $margin-default;
      padding: 0 $padding-default;
      border: none;
      outline: none;
    }
  }
}
