<div class="add">
  <form [formGroup]="personForm" (ngSubmit)="onSumbit()">
    <div class="add__image">
      <label>Image URL</label>
      <div class="add__image-wrapper">
        <img [src]="imageurl" />
        <input
          class="input"
          type="text"
          placeholder="url"
          formControlName="imageUrl"
        />
      </div>
    </div>
    <div class="add__name">
      <div class="add__first-name">
        <label>First name</label>
        <input
          class="input"
          type="text"
          placeholder="first name"
          formControlName="firstName"
        />
      </div>
      <div class="add__last-name">
        <label>Last name</label>
        <input
          class="input"
          type="text"
          placeholder="last name"
          formControlName="lastName"
        />
      </div>
    </div>
    <div class="add__form-controls">
      <div class="add__form-controls__top">
        <label>Contact</label>
        <button class="btn btn-success" type="button" (click)="addCategory()">
          Add
        </button>
      </div>
      <hr />
      <div class="add__form-controls__list" formArrayName="contacts">
        <div
          class="add__form-item"
          *ngFor="let ctrl of contactData.controls; let i = index"
          [formGroupName]="i"
        >
          <img
            [src]="
              ctrl.value.category === contactOptions.PHONE_NUMBER
                ? 'https://cdn4.iconfinder.com/data/icons/social-media-2097/94/phone-512.png'
                : ctrl.value === contactOptions.HOME_NUMBER
                ? 'https://cdn4.iconfinder.com/data/icons/network-and-communication-2-10/48/97-512.png'
                : ctrl.value === contactOptions.EMAIL
                ? 'https://www.nidirect.gov.uk/sites/default/files/styles/nigov_full_620_x1/public/images/email_logo.jpg?itok=ifUhNgCT'
                : defaultProfileImageURL
            "
            alt="icon"
          />
          <select formControlName="category" class="select">
            <option [value]="contactOptions.PHONE_NUMBER">
              {{ contactOptions.PHONE_NUMBER }}
            </option>
            <option [value]="contactOptions.HOME_NUMBER">
              {{ contactOptions.HOME_NUMBER }}
            </option>
            <option [value]="contactOptions.EMAIL">
              {{ contactOptions.EMAIL }}
            </option>
          </select>
          <input class="input" placeholder="value" formControlName="value" />
          <button class="btn btn-delete" (click)="removeCategory(i)">X</button>
        </div>
      </div>
    </div>
    <button
      type="submit"
      class="btn add__save-btn btn-success"
      [disabled]="personForm.invalid"
    >
      Save
    </button>
  </form>
</div>
