<div class="home">
  <div class="col-left">
    <div class="home__search">
      <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
      <input
        class="input-search"
        type="text"
        name="search"
        #searchInput
        appSearch
      />
      <hr />
    </div>
    <div class="home__list">
      <app-contact-item
        *ngFor="let person of persons | filter: searchText"
        [person]="person"
      ></app-contact-item>
    </div>
  </div>
  <div class="col-right">
    <router-outlet></router-outlet>
  </div>
</div>
