<div *ngIf="selectedPerson" class="contact-detail">
  <div class="contact-detail__main">
    <img
      class="contact-detail__main__image"
      [src]="selectedPerson.imageUrl"
      alt=""
    />
    <h3 class="contact-detail__main__name">
      {{ selectedPerson.firstName + " " + selectedPerson.lastName }}
    </h3>
  </div>
  <hr />
  <div class="contact-detail__buttons">
    <button class="btn btn-edit" type="button" [routerLink]="['edit']">
      Edit
    </button>
    <button class="btn btn-delete" type="button" (click)="onDeletePerson()">
      Delete
    </button>
  </div>
  <hr />
  <div class="contact-detail__list">
    <div
      class="contact-detail__item"
      *ngFor="let control of selectedPerson.contact"
    >
      <img
        class="contact-detail__item__icon"
        [src]="
          control.category === categories.EMAIL
            ? 'https://www.nidirect.gov.uk/sites/default/files/styles/nigov_full_620_x1/public/images/email_logo.jpg?itok=ifUhNgCT'
            : control.category === categories.PHONE_NUMBER
            ? 'https://cdn4.iconfinder.com/data/icons/social-media-2097/94/phone-512.png'
            : control.category === categories.HOME_NUMBER
            ? 'https://cdn4.iconfinder.com/data/icons/network-and-communication-2-10/48/97-512.png'
            : ''
        "
        alt=""
      />
      <span class="contact-detail__item__type">{{ control.category }}</span>
      <span class="contact-detail__item__text">{{ control.text }}</span>
    </div>
  </div>
</div>
