.contact-item {
  background-color: rgba(227, 227, 227, 0.8);
  display: flex;
  align-items: center;
  height: 50px;
  margin-bottom: $margin-default;
  padding: 0 $padding-small;
  border-radius: $border-large;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: rgba(170, 170, 170, 0.8);
  }

  img {
    border-radius: $border-large;
    width: 40px;
    height: 40px;
    margin-right: $margin-default;
  }
}
