.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(17, 76, 117);
  height: $height-small;
  width: 100%;
  border-radius: 0 0 $border-default $border-default;
  color: white;
}
