.header {
  display: flex;
  align-items: center;
  height: $height-small;
  border-bottom: 1px solid $color-secondary;
  width: 100%;
  border-radius: $border-default $border-default 0 0;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    ul {
      list-style-type: none;
      display: flex;
    }
  }

  &__logo {
    font-size: $font-300;
    font-weight: 600;
  }
}
