@import "./variable.scss";

// Util
@import "./utils/container.scss";

// pages
@import "./pages/home.scss";
@import "./pages/add.scss";

// Components
@import "./component/contact-detail.scss";
@import "./component/footer.scss";
@import "./component/header.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

.app-wrapper {
  width: $max-app-width;
  max-width: $max-app-width;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: $border-default;
}
