// heights
$height-default: 500px;
$height-small: 50px;
$max-app-width: 800px;

// border
$border-default: 8px;
$border-small: 4px;
$border-large: 16px;

// padding
$padding-default: 16px;
$padding-small: 8px;

// margin
$margin-default: 8px;
$margin-small: 4px;
$margin-large: 16px;
$margin-huge: 32px;

// font-size
$font-100: 8px;
$font-200: 16px;
$font-300: 24px;
$font-400: 32px;
$font-800: 64px;


// colors
$color-primary: #007bff!important;
$color-secondary: #6c757d!important;
$color-success: #28a745!important;
$color-danger: #dc3545!important;
$color-warning: #ffc107!important;